<?xml version="1.0" encoding="UTF-8"?>
<beans	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security.xsd"
		xmlns:security="http://www.springframework.org/schema/security"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans">

	<!-- New Spring Security implementation -->
	<security:http auto-config="true">
    <security:intercept-url pattern="/admin/**"
    access="hasRole('ROLE_ADMIN')" />
    <security:intercept-url pattern="/login"
     access="permitAll" />
  <!--   <security:intercept-url pattern="/user/**"
     access="hasRole('ROLE USER')" /> -->
     <!-- give as action of login -->
		<security:form-login 
		    login-processing-url="/j_spring_security_check" 
			password-parameter="cpassword"
			 username-parameter="cusername"
			 authentication-failure-url="/error" 
			default-target-url="/"
			login-page="/login" />
			
<!-- give as action of logout -->
		<security:logout
		     logout-url="/j_spring_security_logout" 
			logout-success-url="/index" />
            <security:access-denied-handler
                     error-page="/Errorpage" />
		<!-- enable csrf protection -->
		<security:csrf disabled="true" />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider>
			<security:jdbc-user-service
				data-source-ref="datasource"
				users-by-username-query="SELECT EMAIL, PASSWORD, 'true' as enabled FROM User WHERE EMAIL = ?"
				authorities-by-username-query="SELECT EMAIL, ROLE From User WHERE EMAIL = ?" />
		</security:authentication-provider>
	</security:authentication-manager>
</beans>

